---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=&include_adult=false&language=en-US&page=1&query=AJKJSJKSKJSKJ:KJ:KJSDFKJDF!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Tue, 06 Sep 2022 22:43:17 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<api_key>&include_adult=false&language=en-US&page=1&query=AJKJSJKSKJSKJ:KJ:KJSDFKJDF!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 06 Sep 2022 22:48:17 GMT
recorded_with: VCR 6.1.0
